/*@font-face {
    font-family: 'genevaregular';
    src: url('fonts/geneva-webfont.eot');
    src: url('fonts/geneva-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/geneva-webfont.woff') format('woff'),
        url('fonts/geneva-webfont.ttf') format('truetype'),
        url('fonts/geneva-webfont.svg#genevaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

.purplefeedspage{
    /*font-family: 'genevaregular';*/
    font-weight: normal;
}

.purplefeedspage select{
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
}

.purplefeedspage .cat-feeds-xml, .get-feed{
    display: inline-block;
    text-decoration: none;
    text-indent: -9999px;
    width: 154px;
    height: 37px;
    background: url('../images/button-get-feed.jpg');
    border: none;
    vertical-align: 8px;
    margin-left: 25px;
}
.purplefeedspage .cat-feeds-xml:hover,.get-feed:hover{
    cursor: pointer;
}
.purplefeedspage .attributes-mapping{
}

.purplefeedspage .attributes-mapping .left{
    width: 40%;
    float: left;
}

.purplefeedspage .attributes-mapping .left h2{
    font-family: 'genevaregular';
    font-size: 19px;
    font-weight: normal;
}

.purplefeedspage .attributes-mapping .left .title{
    font-family: 'genevaregular';
    font-size: 13px;
    font-weight: normal;
}

.purplefeedspage .attributes-mapping .left #submit{
    display: block;
    text-decoration: none;
    text-indent: -9999px;
    width: 154px;
    height: 37px;
    background: url('../images/button-save.jpg');
    border: none;
    margin-bottom: 50px;
}

.purplefeedspage .attributes-mapping .left #submit:hover{
    cursor: pointer;
}

.purplefeedspage .attributes-mapping .right{
    width: 55%;
    float: left;
    margin-left: 5%;
    padding-top: 7px;
}

.purplefeedspage .attributes-mapping .right .item{
    margin-top: 19px;
}

.purplefeedspage .attributes-mapping .right .label{
    font-family: 'genevaregular';
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    width: 44%;
    padding-top: 5px;
}

.purplefeedspage .attributes-mapping .right select{
}

.purplefeedspage .extra-feeds{
    padding-bottom: 35px;
}

.purplefeedspage .extra-feeds h3{
    font-size: 19px;
    font-weight: normal;
}

.purplefeedspage .extra-feeds select{
}

.purplefeedspage .extra-feeds .cat-feeds-xml{
}
.purplefeedspage select {
    padding:5px;
    font-size: 14px;
    line-height: 1;
    border: 1px;
    border-radius: 5px;
    height: 30px;
}
.select_big{
    width: 300px;
}
.select_small{
    width: 100px;
}
.text_large{
    width: 400px;
    padding:5px;
    font-size: 14px;
    line-height: 1;
    border-radius: 5px;
    height: 30px;
}
.text_big{
    width: 300px;
    padding:5px;
    font-size: 14px;
    line-height: 1;
    /*border: 1px;*/
    border-radius: 5px;
    height: 30px;
}
.text_medium{
    width: 200px;
    padding:5px;
    font-size: 14px;
    line-height: 1;
    /*border: 1px;*/
    border-radius: 5px;
    height: 30px;
}
/*Button*/
.shiny_red {
    background-color: #ee432e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
    background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    border: 1px solid #951100;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
    box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
    color: #fff;
    font: bold 16px/1 "helvetica neue", helvetica, arial, sans-serif;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
    width: 150px; }
.shiny_red:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
    background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    cursor: pointer; }
.shiny_red:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4); }
.cupid-green {
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    font: bold 16px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    width: 150px; }
.cupid-green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
.cupid-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }

/*multiline buttons*/


/* line 14, multi-line-button.sass */
#poststuff p {
    margin: 1em 0;
}
/*
a.multi-line-button {
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    border-width: 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    border-style: solid;
    color: white;
    display: block;
    margin: 0.2em auto;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    background-color: #60a3d8;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #89bbe2), color-stop(50%, #60a3d8), color-stop(100%, #378bce));
    background-image: -moz-linear-gradient(top, #89bbe2 0%, #60a3d8 50%, #378bce 100%);
    background-image: linear-gradient(top, #89bbe2 0%, #60a3d8 50%, #378bce 100%);
    border-color: #2970a9;
    border-left-color: #60a3d8;
    border-top-color: #60a3d8;
    -moz-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
    -o-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
    box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
    color: white;
    text-shadow: #2e7ebd 0 1px 2px;
}
*/
/* line 12, _multi-line-button.sass */
a.multi-line-button .title {
    font-size: 24px;
    font-weight: bold;
    display: block;
    opacity: 0.9;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
/* line 17, _multi-line-button.sass */
a.multi-line-button .subtitle {
    font-size: 14px;
    display: block;
    margin-top: 4px;
    opacity: 0.9;
    color: #f6e2ac;
    padding-left:0px;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
/* line 23, _multi-line-button.sass */
a.multi-line-button:hover .title {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 25, _multi-line-button.sass */
a.multi-line-button:hover .subtitle {
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
/* line 27, _multi-line-button.sass */
a.multi-line-button:active {
    padding: 13px 15px 11px;
}
/* line 48, _multi-line-button.sass */
a.multi-line-button:hover, a.multi-line-button:focus {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9dc7e7), color-stop(50%, #74afdd), color-stop(100%, #378bce));
    background-image: -moz-linear-gradient(top, #9dc7e7 0%, #74afdd 50%, #378bce 100%);
    background-image: linear-gradient(top, #9dc7e7 0%, #74afdd 50%, #378bce 100%);
}
/* line 50, _multi-line-button.sass */
a.multi-line-button:active, a.multi-line-button.depressed {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5796c8), color-stop(100%, #6aa2ce));
    background-image: -moz-linear-gradient(top, #5796c8 0%, #6aa2ce 100%);
    background-image: linear-gradient(top, #5796c8 0%, #6aa2ce 100%);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-color: #2970a9;
}
/* line 16, multi-line-button.sass */
a.multi-line-button.green {
    background-color: #63bb4a;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #83c96f), color-stop(50%, #63bb4a), color-stop(100%, #4e9939));
    background-image: -moz-linear-gradient(top, #83c96f 0%, #63bb4a 50%, #4e9939 100%);
    background-image: linear-gradient(top, #83c96f 0%, #63bb4a 50%, #4e9939 100%);
    border-color: #3b742b;
    border-left-color: #63bb4a;
    border-top-color: #63bb4a;
    -moz-box-shadow: rgba(233, 233, 233, 0.5) 1px 1px 0 0 inset;
    -webkit-box-shadow: rgba(233, 233, 233, 0.5) 1px 1px 0 0 inset;
    -o-box-shadow: rgba(233, 233, 233, 0.5) 1px 1px 0 0 inset;
    box-shadow: rgba(233, 233, 233, 0.5) 1px 1px 0 0 inset;
    color: white;
    text-shadow: #458632 0 1px 2px;
}
/* line 48, _multi-line-button.sass */
a.multi-line-button.green:hover, a.multi-line-button.green:focus {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #93d082), color-stop(50%, #73c25d), color-stop(100%, #4e9939));
    background-image: -moz-linear-gradient(top, #93d082 0%, #73c25d 50%, #4e9939 100%);
    background-image: linear-gradient(top, #93d082 0%, #73c25d 50%, #4e9939 100%);
}
/* line 50, _multi-line-button.sass */
a.multi-line-button.green:active, a.multi-line-button.green.depressed {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5f9f4c), color-stop(100%, #6aaf56));
    background-image: -moz-linear-gradient(top, #5f9f4c 0%, #6aaf56 100%);
    background-image: linear-gradient(top, #5f9f4c 0%, #6aaf56 100%);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-color: #3b742b;
}
/* line 18, multi-line-button.sass */
a.multi-line-button.red {
    background-color: #bf4040;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cc6666), color-stop(50%, #bf4040), color-stop(100%, #993333));
    background-image: -moz-linear-gradient(top, #cc6666 0%, #bf4040 50%, #993333 100%);
    background-image: linear-gradient(top, #cc6666 0%, #bf4040 50%, #993333 100%);
    border-color: #732626;
    border-left-color: #bf4040;
    border-top-color: #bf4040;
    -moz-box-shadow: rgba(230, 230, 230, 0.5) 1px 1px 0 0 inset;
    -webkit-box-shadow: rgba(230, 230, 230, 0.5) 1px 1px 0 0 inset;
    -o-box-shadow: rgba(230, 230, 230, 0.5) 1px 1px 0 0 inset;
    box-shadow: rgba(230, 230, 230, 0.5) 1px 1px 0 0 inset;
    color: white;
    text-shadow: #862d2d 0 1px 2px;
}
/* line 48, _multi-line-button.sass */
a.multi-line-button.red:hover, a.multi-line-button.red:focus {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d27979), color-stop(50%, #c55353), color-stop(100%, #993333));
    background-image: -moz-linear-gradient(top, #d27979 0%, #c55353 50%, #993333 100%);
    background-image: linear-gradient(top, #d27979 0%, #c55353 50%, #993333 100%);
}
/* line 50, _multi-line-button.sass */
a.multi-line-button.red:active, a.multi-line-button.red.depressed {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #a04545), color-stop(100%, #b24d4d));
    background-image: -moz-linear-gradient(top, #a04545 0%, #b24d4d 100%);
    background-image: linear-gradient(top, #a04545 0%, #b24d4d 100%);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-color: #732626;
}
/* line 20, multi-line-button.sass */
a.multi-line-button.orange {
    background-color: #d98026;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e19951), color-stop(50%, #d98026), color-stop(100%, #ae661e));
    background-image: -moz-linear-gradient(top, #e19951 0%, #d98026 50%, #ae661e 100%);
    background-image: linear-gradient(top, #e19951 0%, #d98026 50%, #ae661e 100%);
    border-color: #824d17;
    border-left-color: #d98026;
    border-top-color: #d98026;
    -moz-box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
    -webkit-box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
    -o-box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
    box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
    color: white;
    text-shadow: #985a1b 0 1px 2px;
}
/* line 48, _multi-line-button.sass */
a.multi-line-button.orange:hover, a.multi-line-button.orange:focus {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e4a667), color-stop(50%, #dd8d3c), color-stop(100%, #ae661e));
    background-image: -moz-linear-gradient(top, #e4a667 0%, #dd8d3c 50%, #ae661e 100%);
    background-image: linear-gradient(top, #e4a667 0%, #dd8d3c 50%, #ae661e 100%);
}
/* line 50, _multi-line-button.sass */
a.multi-line-button.orange:active, a.multi-line-button.orange.depressed {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b8732e), color-stop(100%, #cc8033));
    background-image: -moz-linear-gradient(top, #b8732e 0%, #cc8033 100%);
    background-image: linear-gradient(top, #b8732e 0%, #cc8033 100%);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-color: #824d17;
}
/* Main Feed page */
.inside-export-target {
  padding:10px;
  height:90px;
}
.feed-type-col1 {
  float: left;
  width: 200px;
}
.feed-type-col2 {
  float: left;
  width: 400px;
}
.feed-type-col3 {
  float: left;
  width: 200px;
}
.feed-type-col4 {
  clear: both;
}
.feed-colheader {
  font-size: 100%;
  font-weight: 900;
}
.feed-left {
  float: left;
  width: 50%;
}
.feed-right {
  float: right;
  width: 50%;
}
.feed-right-row {
  text-align: right;
  width: 100%;
}
.feed-advanced, .optional-attributes {
  display:none;
  width: 100%;
}
label.attributes-label {
   margin:17px 0 17px 0 !important;
   font-size: 15px !important; 
   display:block;
   font-weight:700;
}
label.attributes-label:hover {
    color:#946aaa;
}

.feed-advanced-text {
  height: 200px;
  width:100%;
}
/* Main Feed page: Category AJAX */
.categoryList {
  max-height: 167px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.categoryListLocal {
    border: 1px solid black;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    width: 300px;
}
.categoryListLocalFrame {
	padding: 10px;
}
.categoryItem {
	overflow-x: hidden;
}
.categoryItem:hover {
	background-color:blue;
	color: white;
}
/* Admin / Manage Feed page */
.version-style {
    float:left;
	color:#777;
    margin:25px 0 0 14px;
}
.version-style-j {
	float:left;
    color:#777;
	font-size:50%;
}
/* Header Logos + Links */
.cpf-logo-header {
    margin:5px;
    height:72px;
}
.cpf-logo-style {
    border:0px;
    width:150px;
}
.cpf-logo-link {
    float:left;
    margin-top:15px;
}
.gts-link {
    float:right;
    margin:16px 40px 10px 10px;
}
.gts-link a {
    text-decoration: none;
}
.gts-logo-link {
    float:right;
    margin:14px 0;
}
.amazon-template-table table {
    border-collapse: collapse;
    font-size:14px;
    margin-top:10px;
}
.amazon-template-table th, .amazon-template-table td {
    padding: 7px;
    text-align: center;
    border: 1px solid gray;
}